<form action="/add" method="POST" enctype="multipart/form-data">
    <div>
        <label for="id">Id<input type="number" placeholder="Id" value="{{club.id}}" id="id" name="id" required></label>

       <label for="name">Nombre<input type="text" placeholder="Nombre" value="{{club.name}}" id="name" name="name" required></label>

       <label for="country">Pais<input type="text" placeholder="Pais" value="{{club.area.name}}" id="country" name="country" required></label>

       <label for="crest">Escudo<input type="file" value="{{club.area.name}}" id="crest" name="crest" required></label>

       <label for="venue">Estadio<input type="text" placeholder="estadio" value="{{club.venue}}" id="venue" name="venue" required></label>

       <label for="colors">Colores<input type="text" placeholder="color1/color2" value="{{club.clubColors}}" id="colors" name="colors" required></label>

       <label for="founded">Fundacion<input type="text" placeholder="fundacion" value="{{club.founded}}" id="founded" name="founded" required></label>
    </div>

    <button type="submit">Guardar</button>
</form>