
  {{#each data.clubes as |club|}}
  <tr></tr>
    <td>{{id}}</td>
    <td><img src="{{crestUrl}}" alt="" class="crest"/></td>
    <td>{{name}}</td>
    <td><button onclick="location.href='club/{{id}}'" type="button">Ver</button><button onclick="location.href='edit/{{id}}'">Editar</button><button onclick="location.href='delete/{{id}}'">Borrar</button></td></tr>
  {{/each}}


