<h1>Crud Clubes</h1>
<div>
    <img src="{{data.club.crestUrl}}" alt="" name="crest"/>
    <table>
        <caption>{{data.club.name}}</caption>
        <tbody>
            <tr>
                <td>Fundación</td>
                <td>{{data.club.founded}}</td>
            </tr>
             <tr>
                <td>Colores</td>
                <td>{{data.club.clubColors}}</td>
            </tr>
            <tr>
                <td>Sede</td>
                <td>{{data.club.venue}}</td>
            </tr>
        </tbody>
    </table>
    
</div>